{% extends 'base.html' %}

{% load static %}

{% block styles %}
	<link rel="stylesheet" href="{% static 'css/home/index.css' %}?version=2" >
{% endblock %}

{%block title %}Django MongoDB CRUD{% endblock %}
{%block pagetitle %}List of Movies{% endblock %}
    {% block content %}
        <div class="row">
            <div class="col-12 subtitle text-center">
                <a href="{% url 'home:movies' %}">
                    <div class="row">
                        <div class="col-6"></div>
                        <div class="col-2">
                            Add New Movie
                        </div>
                        <div class="col-1">
                            <icon class="fas fa-plus btn btn-outline-success"></icon>
                        </div>
                        <div class="col-3"></div>
                    </div>
                </a>
            </div>
        </div>
        {% if movies_list %}
        <div class="row">
            <div class="col-1"></div>
            <div class="col-10 list-items">
                <table>
                    <tr class="text-center">
                        <th class="ml-4 mr-4">Category</th>
                        <th class="ml-4 mr-4">Total</th>
                        <th class="ml-4 mr-4">ID</th>
                        <th class="ml-4 mr-4">Movie Description</th>
                        <th class="ml-4 mr-4">likes</th>
                        <th class="ml-4 mr-4">dislikes</th>
                        <th class="ml-4 mr-4">ranking</th>
                        <th class="ml-4 mr-4">operations</th>
                    </tr>
                    {% regroup movies_list by fk_movies_category.dsc_category as category_list %}
                    {% for category, movies in category_list %}
                    <tr>
                        <td class="text-warning category-col" width="200">
                            {{ category }}
                        </td>
                        <td>
                            {{ movies.0.fk_movies_category.ranking }}
                        </td>
                        {% for movie in movies %}
                            <td>{{ movie.id }}</td>
                            <td width="500">
                                <a class="edit-movie" data-link="{% url 'home:movies' %}{{ movie.id }}" href="">
                                    {{ movie.dsc_movie }}
                                </a>
                            </td>
                            <td>
                                {{ movie.qtd_likes }}
                            </td>
                            <td>
                                {{ movie.qtd_dislikes }}
                            </td>
                            <td>{{ movie.ranking }}</td>
                            <td class="p-0 m-0 text-center" width="120">
                                <icon data-link="{% url 'home:movies' %}{{ movie.id }}" class="far fa-thumbs-up p-2 ilike"></icon>
                                <icon data-link="{% url 'home:movies' %}{{ movie.id }}" class="far fa-thumbs-down p-2 idislike"></icon>
                                <icon data-link="{% url 'home:movies' %}{{ movie.id }}" class="far fa-trash-alt idelete-movie p-2"></icon>
                            </td>
                        </tr>
                        {% if movies|last != movie %}
                        <tr>
                            <td colspan="2"></td>
                        {% endif %}
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </table>
            </div>
            <div class="col-1"></div>
        </div>
        {% if is_paginated %}
        <div class="row text-center mt-2">
            <div class="col-1"></div>
            <div class="col-10">
                <ul class="pagination">
                    {% if page_obj.has_previous %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ page_obj.previous_page_number }}">&laquo;</a>
                        </li>
                    {% else %}
                        <li class="page-item disabled">
                            <span class="page-link" >&laquo;</span>
                        </li>
                    {% endif %}
                    {% for i in paginator.page_range %}
                        {% if page_obj.number == i %}
                            <li class="page-item active">
                                <span class="page-link" >{{ i }} <span class="sr-only">(current)</span></span>
                            </li>
                        {% else %}
                            <li class="page-item">
                                <a  class="page-link" href="?page={{ i }}">{{ i }}</a>
                            </li>
                        {% endif %}
                    {% endfor %}
                    {% if page_obj.has_next %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ page_obj.next_page_number }}">&raquo;</a>
                        </li>
                    {% else %}
                        <li class="page-item disabled"><span class="page-link">&raquo;</span></li>
                    {% endif %}
                </ul>
            </div>
            <div class="col-1"></div>
        </div>
        {% endif %}
        {% else %}
            <p>There are no books in the library.</p>
        {% endif %}
    {% endblock %}
    {% block script %}
	<script type="text/javascript" src="{% static 'js/home/index.js' %}"></script>
    {% endblock %}